@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&family=Roboto+Mono&display=swap');
* {
  max-width: 1440px;
  max-height: 1056;
  font-family: 'Outfit', sans-serif;
  font-family: 'Roboto Mono', monospace;
  text-align: center;
}

.design {
  background-color: hsl(212, 45%, 89%);
  width: 1200px;
  height: 700px;
  position: relative;
  left: 120px;
  right: 120px;
  top: 64px;
  bottom: 64px;

}
.container {
  position: absolute;
  width: 300px;
  height: 420px;
  background-color: hsl(0, 0%, 100%);
  left: 450px;
  right: 450px;
  top: 140px;
  bottom: 140px;
  border-radius: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
}
.container img {
  position: absolute;
  width: 250px;
  height: 250px;
  left: 40px;
  right: 40px;
  border-radius: 15px;

}
.container h2 {
  position: absolute;
  color: hsl(218, 44%, 22%);
  top: 250px;
  font-size: 17px;
  margin: 15px;
}
.container p {
  position: absolute;
  color: hsl(220, 15%, 55%);
  font-size: 15px;
  top: 350px;
  margin: 15px;
}
